/*BODY*/
body {
	background-color:#DEE8FA;
	font-family: trebuchet ms;
}

/*HEADER*/
header {
	background-color:#c7d0e1;
}
header .logo, h1{
	display: block;
	width:1100px;
	font-family: Cursive;
	font-size: 20px;
	margin: 0 auto;
	padding:10px 0;
}
h1{
	text-align: center;
}

/* MAIN	*/
main {
	display:block;
	width:1100px;
	margin:0 auto;
	background-color:#fff;
	border-left:1px solid #b1b9c8;
	border-right: 1px solid #b1b9c8;
	border-bottom: 1px solid #b1b9c8;
	height:700px;
}
main .presentation {
	padding: 10px 15px;
}
form {
	display: flex;
	width:1000px;
	margin: auto;
	height: 100px;
	padding-top: 250px;
	margin-top: 50px;
}

/*FOOTER*/
footer {
	width:1100px;
	margin: 0 auto;
	text-align:center;
}
footer .membres {
	font-size:12px;
}